body {
  margin: 0px;
  font-family: "Roboto", Arial, sans-serif;
}
ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
p {
  margin: 0px;
  padding: 0px;
  font-style: none;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1440px;
  box-sizing: border-box;
  margin: 0 auto;
}
.header-menu {
  display: flex;
  flex-wrap: wrap;
  gap: 45px;
}
.header-menu a {
  display: inline-block;
  color: #fff;
  padding: 16px 0;
  font-size: 20px;
  font-weight: 400;
  position: relative;
}

.header-menu a:after {
  content: "";
  display: block;
  height: 2px;
  width: 0px;
  background-color: #fff;
  margin-top: 4px;
  transition: 0.3s;
  position: absolute;
}

.header-menu a:hover::after {
  width: 100%;
}

.header-menu .btn {
  padding: 16px 16px;
  border-radius: 5px;
  background: linear-gradient(
    180deg,
    rgba(39, 173, 39, 1) 0%,
    rgba(7, 102, 50, 0.72) 72%
  );
}
.header-menu .btn:hover::after {
  display: none;
}

.btn:hover {
  background: linear-gradient(
    0deg,
    rgba(39, 173, 39, 1) 0%,
    rgba(7, 102, 50, 0.72) 72%
  );
}

.header_apresentation-bg {
  background: linear-gradient(
    180deg,
    rgba(0, 56, 147, 1) 0%,
    rgba(0, 24, 63, 1) 100%
  );
}

.apresentation {
  text-align: center;
  color: #fff;
}
.apresentation h1 {
  margin-top: 140px;
  font-size: 60px;
  line-height: normal;
  letter-spacing: -0.5;
}
.apresentation h2 {
  margin-top: 70px;
  font-size: 34px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25;
  color: #dadada;
}
.apresentation .btn {
  padding: 16px 16px;
  border-radius: 5px;
  margin-top: 70px;
  background: linear-gradient(
    180deg,
    rgba(39, 173, 39, 1) 0%,
    rgba(7, 102, 50, 0.72) 72%
  );
  color: #fff;
}

@media (max-width: 800px) {
  .header-menu {
    gap: 25px;
  }
  .header-menu a {
    background: #111111;
    padding: 12px 16px;
    border-radius: 5px;
  }
  .header-menu a::hover {
    background-color: #2e2e2e;
  }
  .header-menu a::after {
    display: none;
  }
}

@media (max-width: 700px) {
  .header-menu {
    gap: 12px;
  }
  .header-menu a {
    padding: 8px 12px;
    font-size: 14px;
  }
}
